.App {
  text-align: center;
  background-color: black;
}


.cssAppBody {
  /*text-align: center;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  background-color: #282c34;
}

.cssAppBoard {
  align-content: center;
}

.cssAppRow {}

.cssAppReleaseBoard {
  display: flex;
  flex-direction: row;
}

.cssAppRelease {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.cssAppCard {
  background-color: rgb(88, 88, 88);
  border: 2px solid rgb(50, 43, 66);
  color: lightskyblue;
}